<div id="page-content-wrapper">
   <div id="article-content" class="container-fluid">
      <div class="row">
         <div id="article-content-desc" class="col-lg-12">
            <h1>Page2</h1>
            <p>Page 2 content</p>
         </div>
      </div>
   </div>
</div>